.new-product-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem auto;
    width: 50vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    

    >input,
    >textarea {
        flex-grow: 1;
        padding: 8px;
        border: 1px solid #1D3557; 
        border-radius: 0.25rem;
        background-color: #FAFAFA;
    }

    >label {
        font-size: 0.9rem;
        text-align: start;
        margin-bottom: 0.25rem;
    }
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}